[submodule "WanaKana"]
	path = submodules/WanaKana
	url = git@github.com:WaniKani/WanaKana.git
[submodule "zipjs"]
	path = submodules/zipjs
	url = git@github.com:shogo82148/zipjs.git
[submodule "igo-javascript"]
	path = submodules/igo-javascript
	url = git@github.com:shogo82148/igo-javascript.git
